@import "variables";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;

  &:hover {
    font-weight: 600;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}